{% extends 'base.html.twig' %}

{% block title %}New category{% endblock %}

{% block body %}
    <section class="form-section" aria-labelledby="category-title">
        <div class="container">
            <div class="form-card">
                <h1 id="category-title">Create a category</h1>

                {{ form_start(categoryForm) }}

                {{ form_row(categoryForm.title, {
                    label: 'Category title'
                }) }}

                <button type="submit" class="button">
                    Save category
                </button>

                {{ form_end(categoryForm) }}
            </div>
        </div>
    </section>
{% endblock %}
